@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
    font-family: Montserrat;
    
}


a.active p{
    font-weight: 700;
    color: var(--green);
}

a:hover{
  font-weight: 700;
}


:root {
  --yellow: #f1be0c;
  --white: #ffffff;
  --green: #066a39;
  --black: #0E1428;
  --brown: rgb(62, 56, 56);
  --transition: all 400ms ease;
  --light-yellow:  rgb(232, 207, 45);
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
}

@media (max-width:640px){
  a.active{
    color: var(--green);
    font-weight: 700;
  }
}